# === PostgreSQL ===
POSTGRES_DB=cd_auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# === OAuth2 / Auth Service ===
OAUTH2_CLIENT_ID=job4j
OAUTH2_CLIENT_SECRET=password
ACCESS_KEY=96GcWB8a

# === HeadHunter API (generator) ===
HH_TOKEN=APPLM96H6F4A972AIT6GGUVN2I51PB16MRIDK21E4R804TSE2I117UG1CPG977ME

# === Telegram (site) ===
BOT_USERNAME=checkdev_bot
BOT_TOKEN=

# === Jenkins ===
JAVA_OPTS=-Xmx2g
